@model ATCalumni1.Models.Entities.Users

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @ViewBag.User?</h1>
<div>
    <a asp-action="Delete" asp-route-id="@Model.UserID" class="btn btn-danger"
    onclick="return confirm('Are you sure you want to delete your profile?');">Delete Profile</a>
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="List">Back to List</a>
    </form>
</div>