@if (Context.User.Identity.Name != null)
{
        <div>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-link text-dark">
                @Context.User.Identity.Name
            </li>
            <li>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="logOut">Log Out</a>
            </li>
        </ul>
        </div>

    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-dark" asp-controller="Users" asp-action="Add">Register</a></li>
        <li><a class="nav-link text-dark" asp-controller="Users" asp-action="Login">Log in</a></li>
    </ul>
}